/* Reset some default styles */
body, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Header styles */
header {
    background-color: #F05D5C;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles */
.logo {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 2em;
    color: #fff;
}

/* Main Navigation styles */
nav ul.main-nav {
    list-style-type:
