/* Reset some default styles */
body, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Lato', Arial, sans-serif; /* Specify 'Lato' font-family */
    background-color: #f2f2f2;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo styles */
.logo {
    font-family: 'Lato', Arial, sans-serif; /* Specify 'Lato' font-family */
    font-size: 2em;
    color: #fff;
}

/* Section styles */
section {
    padding: 40px 0;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}
